<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

    <head>
        <title>Check Out Results</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <h1>Receipt</h1>
        <p th:text="'No of Items in Basket: ' + ${basket.noOfItemsInBasket}"/>
        <p th:text="'Total before discount: £' + ${basket.totalCost}"/>
        <p th:text="'Total after discount applied: £'+ ${basket.costAfterOffersApplied}"/>
        <p th:text="'Total savings: £'+ ${basket.totalSaving}"/>
        <a href="/supermarket">Shop again</a>
    </body>

</html>